.about-code-segment {
	/* @apply max-w-[800px] mt-8 ml-8; */
	@apply max-w-[800px] mt-8 ml-8;
}

.breakpoint {
	background: rgb(241,109,112);
	background: linear-gradient(90deg, rgba(241,109,112,0.2) 0%, rgba(241,109,112,0.5) 3%, rgba(241,109,112,0.4) 50%, rgba(241,109,112,0) 100%);
	@apply -ml-[4.5rem] flex flex-row items-center
}

.breakpoint-text {
	@apply ml-14;
}

.breakpoint-break {
	@apply bg-custom-red p-2 mr-2 ml-1 h-1 w-1 rounded-full;	
}

.about-sidebar {
	transition: width 200ms;
	@apply w-52 flex-shrink-0 overflow-hidden bg-custom-off-dark-800/85 ;
}

@media screen and (max-width: 850px) {
	.about-code-segment {
		@apply ml-4;
	}	
}


@media screen and (max-width: 640px) {
	.about-code-segment {
		@apply ml-0;
	}	

	.breakpoint-text {
		@apply ml-4;
	}

	.breakpoint {
		background: rgb(241,109,112);
		background: linear-gradient(90deg, rgba(241,109,112,0.2) 0%, rgba(241,109,112,0.5) 3%, rgba(241,109,112,0.4) 50%, rgba(241,109,112,0) 100%);
		@apply flex flex-row items-center mr-2 -ml-8
	}
}