.blinking-text {
  animation: blinking-text 1s infinite;
}

.bg-img {
  background: url("/images/background.png") no-repeat center center fixed;
  background-size: cover;
}

.text-code {
  font-size: 1.125rem;
}

@keyframes blinking-text {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
