.sidebar {
	@apply w-40 bg-custom-off-dark-800 h-full flex-grow;
}

.blinking-text {
	animation: blinking-text 1s infinite;
}
.bg-img {
	background: url("/images/background.png") no-repeat center center fixed;
	background-size: cover;
}

.home-title {
	font-size: clamp(4rem, 13svw, 9rem);
	line-height: clamp(3.5rem, 11svw, 8rem);
}

.home-subtitle {
	font-size: clamp(1.25rem, 3.8svw, 2.35rem);
	margin-top: 1rem;
}

.text-code {
	font-size: 1.125rem;
	/* font-size: clamp(1rem, 1.3svw, 1.125rem); */
}

@keyframes blinking-text {
	0%   { opacity: 1; }
	49%  { opacity: 1; }
	50%  { opacity: 0; }
	100% { opacity: 0; }
}
