.home-hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 7rem;
  padding-top: 3rem;
}

.home-title__full-name {
  display: flex;
  flex-direction: column;
  line-height: 1em;
}

.home-title__first-name {
  text-align: start;
  padding-right: 0.57em;

  &::before {
    content: "<";
    @apply text-custom-off-dark-300;
  }
}

.home-title__last-name {
  text-align: end;
  &::after {
    content: ">";
    @apply text-custom-off-dark-300;
  }
}

.home-subtitle {
  text-align: end;
  margin-right: 3.5em;
  margin-top: 0.75em;
  font-size: 0.2em;

  &::before {
    content: "// ";
  }
}

.home-code-message {
  max-width: 35rem;
  font-size: 1.2rem;
  font-weight: normal;
  @apply text-custom-text-300;
}

@media screen and (max-width: 1400px) {
  .home-title {
    font-size: 6rem;
  }

  .home-code-message {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1150px) {
  .home-hero {
    flex-direction: column;
  }

  .home-title {
    font-size: 5.5rem;
  }

  .home-subtitle {
    text-align: center;
    margin-inline: 0;
    &::before {
      content: "";
    }
  }

  .home-title__first-name {
    text-align: center;
    padding-right: 0;

    &::before {
      content: "";
    }
  }

  .home-title__last-name {
    text-align: center;
    &::after {
      content: "";
    }
  }

  .home-subtitle::before {
    content: "";
  }

  .code-segment-wrapper {
    width: 100%;
    padding-inline: 2rem;
  }

  .home-code-message {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .code-segment-wrapper {
    width: 100%;
    padding-inline: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .home-title {
    font-size: 4.5rem;
  }

  .home-code-message {
    font-size: 0.9rem;
  }

  .code-segment-wrapper {
    padding-inline: 0;
  }
}
