#project-list:has(.project-content:hover) > :not(:hover) {
  opacity: 0.5;
}

.project-item-temp-selected {
  @apply bg-custom-off-dark-300/35 !important;
}

.project-skill-item-list {
  gap: 0.5rem 0;
  @apply flex flex-row flex-wrap rounded-lg h-min;
}

.project-item-expand-icon {
  transition: transform 100ms;
  transform: translate(-0.1rem, -0.1rem);
}

.project-skill-item {
  transition: all 350ms;
  @apply overflow-hidden flex flex-row items-center text-sm h-[1.5rem] mr-2;
}

.orange-flare {
  box-shadow: 0 0 0.8rem orange;
}

.project-skill-title {
  /* transition: all 350ms; */
  @apply max-w-0 ml-1 duration-[350];
}

.project-item__header-link:hover {
  @apply hover:text-blue-300 ;

  & h2 {
    @apply underline;
  }

  & .project-item-expand-icon {
    transform: translate(0.2rem, -0.35rem);
  }
}

.project-item:hover {

  & .project-content {
    @apply bg-custom-off-dark-300/35 shadow-xl;
  }

  & .project-skill-title {
    @apply max-w-[32rem];
  }

  & .project-skill-item {
    @apply mr-4;
  }
}

.project-grid {
  grid-template-columns: clamp(200px, 50%, 800px) 1fr;
}

.project-content {
  @apply flex flex-col p-4 transition-all rounded-sm flex-grow gap-2 bg-custom-off-dark-300/5 backdrop-blur-lg;
}

/* Media query for 1370px (85.625rem) */
@media (max-width: 1150px) {
  #timeframe,
  #divider {
    display: none;
  }
  .project-grid {
    grid-template-columns: 1fr;
  }
}
