.sidebar {
  @apply z-30 sticky flex flex-row flex-shrink-0 top-[0.25rem] my-1 overflow-x-hidden overflow-y-auto bg-custom-off-dark-800;
}

.sidebar[data-always-visible="false"] {
  @apply absolute h-[calc(100%-6.5rem)] mt-[3rem] overflow-hidden;

  & .sidebar__foldout-button {
    @apply flex h-max w-max p-2 rounded-r-md cursor-pointer text-custom-text-300;
  }

  & .sidebar-content[data-folded-out="false"] {
    @apply w-0 -ml-8 bg-transparent ;

    & * {
      opacity: 0;
    }
  }
}

.sidebar-content {
  transition: width 200ms;
  @apply w-52 pt-4;
}

.indent {
  @apply flex flex-col gap-1;

  & > * {
    @apply cursor-pointer;
  }

  & > *:hover {
    @apply bg-custom-off-dark-300;
  }
}

.sidebar__foldout-button {
  display: none;
  height: 2rem;
  width: 2rem;
  @apply bg-custom-off-dark-800;

  & svg {
    transition: transform 200ms, background-color 200ms;
    @apply rounded-full;
  }

  &[data-folded-out="false"] > svg {
    transform: rotate(0deg);
  }

  &[data-folded-out="true"] > svg {
    transform: rotate(180deg);
  }

  &:hover svg {
    @apply bg-custom-off-dark-300;
  }
}


/* 750px */
@media screen and (max-width: 750px) {
  .sidebar {
    @apply absolute h-[calc(100%-6.5rem)]mt-[3rem] overflow-hidden;
  }

  .sidebar__foldout-button {
    @apply flex h-max w-max p-2 rounded-r-md cursor-pointer text-custom-text-300 ;
  }

  .sidebar-content[data-folded-out="false"] {
    @apply w-0 -ml-8 bg-transparent;

    & * {
      opacity: 0;
    }
  }
}
