.footer {
  z-index: 1000;
  @apply flex flex-row gap-1 w-full h-footer items-center;
}

.footer > * {
  @apply flex items-center justify-center h-full text-center bg-custom-off-dark-800;
}

/* 640px */
@media screen and (max-width: 40rem) {
  .footer-path {
    display: none;
  }

  .footer-title {
    @apply flex-grow;
  }

  .footer a {
    width: 5rem;
  }
}

/* 460px */
@media screen and (max-width: 28.75rem) {
  .footer-path,
  .footer-title {
    display: none;
  }

  .footer a {
    flex-grow: 1;
  }
}
